html {
  height: 100%;
  font-family: helvetica;
  background: #000;
  color: white;
}
body {
  height: 100%;
  margin: 0;
}

h1 {
  margin-top: 0
}

.outer {
  height: 100vh;
}

.album {
//  border: 3px solid red;
//  display: table;
}

.back-sheet {
  width: 100%;
  height: 100%;
  background: green;
  border: 1px solid red;
}

.buttons {
  width: 100%;
  padding: .1em;
  margin: .5em 0;
  text-align: center;
}
.button {
  background-color: #ddd;
  display: inline-block;
  margin: 0 2px 0 2px;
  padding: 0 2px 0 2px;
}
.button a {
  color: black;
  text-decoration: none;
  outline: none;
}
.error {
  top: 0;
  position: fixed;
  background: #555;
  color: white;
  font-size: 200%;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
}
.columns {
  display: flex;
  height: 100vh;
}
.albums {
  background-color: #444b5d;
  color: #dfdfdf;
  width: 13em;
  overflow: scroll;
  max-height: 100vh;
  padding: 1em;
}
.albums ul {
  list-style-type: disc;
  padding: 0;
}
.no-month-date {
  border: none;
}

.albums table td a {
  color: #aaa;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
}
#photos {
  padding: 10px;
  flex: 1;
  overflow-y: scroll;
  max-height: 100vh;
  color: white;
}
#photos li {
  display: inline-block;
  list-style-type: none;
  margin: .3em;
  vertical-align: middle;
}
.contact-print {
  background: #222;
  padding: 8px;
}
.thumbnail {
  max-width: 300px;
  max-height: 200px;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  text-align: center;
}
.lightbox-inner {
  margin: 20px;
  width: 100%;
  height: 100%;
}
.lightbox-inner img {
  max-width: 95%;
  max-height: 95%;
}
.close {
  position: absolute;
  top: 5px;
  left: 5px;
  vertical-align: top;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  color: #aaa;
  padding: 0;
  cursor: pointer;
  width: 40px;
  margin-left: 40px;
}

.logout {
  display: inline-block;
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 2em;
}

.username {
  font-size: 1.5em;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-right: 2px;
}

.lightbox .buttons {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
}

.lightbox .buttons button {
  padding: 0;
  border: 0;
  cursor: pointer;
}
.lightbox .buttons .disabled {
  opacity: 0.3;
  cursor: default;
}

.status {
  background-color: #444b5d;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  cursor: pointer;
  text-align: center;
}

.status img {
  max-height: 90vh;
  width: 100%;
  object-fit: contain;
}

.content {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.7);
  font-size: 1.5em;
}

.content p {
  margin: 0.1em 0.2em 0.1em 0.2em;
}

.status .account {
  position: absolute;
  top: 5px;
  background: rgba(0,0,0,0.7)
}

a:link, a:visited {
  color: white;
}

.sidebar {
  background-color: #444b5d;
  color: #dfdfdf;
  width: 10em;
  overflow: auto;
  max-height: 100vh;
  padding: 1em;
}

.logo {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.5em;
}

.logo a {
  text-decoration: none;
}

.logo .server {
  font-size: .4em;
  font-weight: normal;
}

.share {
  background: #444b5d;
  padding: 1em;
  border-radius: 3px;
}

.share img {
    width: 300px;
}

.button {
  cursor: pointer;
  background-color: #666;
  padding: .3em;
  border-radius: 5px;
}

.user:link, .user:visited {
  color: #ccff00;
  cursor: pointer;
}
